.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dotenv
.env*.local

# vercel
.vercel/

# самба
.vscode/samba.json

# next-i18n
*.locale
.next-i18n.json
node_modules
